@model SEP_Demo.Models.Product

@using SEP_Demo.Models
@{
    Layout = null;
    //ViewBag.Title = "Details";

    VLUTradingDBEntities db = new VLUTradingDBEntities();
    //var im = db.Products.FirstOrDefault(m => m.ID == Model.ID);
    var lstPrice = db.Prices.FirstOrDefault(t => t.Status == true && t.ProductID == Model.ID).Price1;


}

<link href="~/Content/Product/detailProduct.css" rel="stylesheet" />
@*<div>
        <h4>Product</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Picture01)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Picture01)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Picture02)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Picture02)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Picture03)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Picture03)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Picture04)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Picture04)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Picture05)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Picture05)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateCreate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateCreate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Quantity)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ProductCategory.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProductCategory.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ProductStatu.Status)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProductStatu.Status)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.User.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.User.FirstName)
            </dd>

        </dl>
    </div>
    <p>
        @Html.actionqLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.actionLink("Back to List", "Index")
    </p>*@

<div class="container" id="uniqueProduct">
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6">

                    <div class="preview-pic tab-content">
                        @* NHỚ THÊM ~ TRƯỚC PATH NẾU TRÊN HOST KHÔNG LOAD ĐƯỢC HÌNH *@
                        <div class="tab-pane active" id="pic-1"><img src="@Html.DisplayFor(model => model.Picture01)" /></div>
                        <div class="tab-pane" id="pic-2"><img src="@Html.DisplayFor(model => model.Picture02)" /></div>
                        <div class="tab-pane" id="pic-3"><img src="@Html.DisplayFor(model => model.Picture03)" /></div>
                        <div class="tab-pane" id="pic-4"><img src="@Html.DisplayFor(model => model.Picture04)" /></div>
                        <div class="tab-pane" id="pic-5"><img src="@Html.DisplayFor(model => model.Picture05)" /></div>
                    </div>
                    <ul class="preview-thumbnail nav nav-tabs">
                        <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="@Html.DisplayFor(model => model.Picture01)" /></a></li>
                        <li><a data-target="#pic-2" data-toggle="tab"><img src="@Html.DisplayFor(model => model.Picture02)" /></a></li>
                        <li><a data-target="#pic-3" data-toggle="tab"><img src="@Html.DisplayFor(model => model.Picture03)" /></a></li>
                        <li><a data-target="#pic-4" data-toggle="tab"><img src="@Html.DisplayFor(model => model.Picture04)" /></a></li>
                        <li><a data-target="#pic-5" data-toggle="tab"><img src="@Html.DisplayFor(model => model.Picture05)" /></a></li>
                    </ul>

                </div>
                <div class="details col-md-6">
                    <h3 class="product-title">@Html.DisplayFor(model => model.Name)</h3>
                    <h4 class="price">Giá: <span>@lstPrice VND</span> </h4>
                    <hr style="height:1px; border-top-color: rgb(151, 172, 182); border-top-width: 1px; margin-top:-10px;">
                    <div class="rating">
                        <div class="stars">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <span class="review-no">41 reviews (DEMO)</span>
                    </div>
                    <hr style="height:1px; border-top-color: rgb(151, 172, 182); border-top-width: 1px;">
                    <p class="product-description">@Html.DisplayFor(model => model.Description)</p>

                    <p class="vote"><strong>48</strong> lượt xem! (DEMO)</p>
                    <h5 class="sizes">
                        sizes:
                        <span class="size" data-toggle="tooltip" title="small">s</span>
                        <span class="size" data-toggle="tooltip" title="medium">m</span>
                        <span class="size" data-toggle="tooltip" title="large">l</span>
                        <span class="size" data-toggle="tooltip" title="xtra large">xl</span>
                    </h5>
                    <h5 class="colors">
                        colors:
                        <span class="color orange not-available" data-toggle="tooltip" title="Not In store"></span>
                        <span class="color green"></span>
                        <span class="color blue"></span>
                    </h5>
                    <div class="action">
                        <button class="add-to-cart btn btn-default" type="button">add to cart</button>
                        <button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
