@using SEP_Demo.Models
@{
    ViewBag.Title = "History Trade";
    Layout = "~/Views/Shared/_DetailLayout.cshtml";

    VLUTradingDBEntities db = new VLUTradingDBEntities();
    int id = (int)Session["ID"];
    var orderlst = db.OrderLists.Where(t => t.UserOrder == id);
    var name = db.Users.FirstOrDefault(t => t.Id == id);
    var Username = name.FirstName + " " + name.LastName;

    var itemoforder = db.Orders;
}
<style>
    @@media screen and (max-width: 480px) {
        .profile-user .block-control {
            margin-bottom: 20px;
        }
    }

    @@media screen and (max-width: 480px) {
        .wrapper-profile .right-profile {
            padding-left: 0;
            padding-right: 0;
        }
    }

    @@media screen and (max-width: 767px) {
        .wrapper-profile .right-profile {
            float: none;
            width: 98%;
            margin-left: 0;
            margin: 5px auto 0;
            border: none;
            padding: 5px 0;
        }
    }

    @@media screen and (max-width: 767px) {
        .profile-user .order-tabs {
            margin-top: 0;
        }
    }

    @@media (max-width: 1024px) and (min-width: 768px) {
        .order-tabs {
            margin-top: 0;
            overflow: auto;
            white-space: nowrap;
            width: calc(100% - 235px) !important;
        }
    }

    @@media screen and (max-width: 767px) {
        .profile-user .order-tabs li:hover, .profile-user .order-tabs li.active {
            background: none;
            border-radius: 0;
        }
    }

    @@media screen and (max-width: 767px) {
        .profile-user .order-tabs li a {
            /* border-radius: 2px; */
            /* border: 1px solid #ddd; */
            margin-top: 10px;
        }
    }

    .wrapper-profile {
    }

    .wrapper-profile {
    }

    /**, *:before, *:after {
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    padding: 0;
                    margin: 0;
                    border: 0;
                }*/
    *:before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        border: 0;
    }

    .wrapper-profile .left-profile {
        width: 220px;
        float: left;
        padding-top: 15px;
        border-right: 1px solid #eee;
        background-color: #fff;
    }

    .left-profile .user-inf-top {
        overflow: hidden;
        /* border-bottom: 1px solid #dcdcdc; */
    }

    .left-profile .menu-quanly {
        display: none;
    }

    .left-profile .ttl-box {
        font-size: 14px;
        color: #666666;
        height: 30px;
        line-height: 30px;
        margin-top: 15px;
        font-weight: bold;
        background-color: #f5f5f5;
        padding: 0 10px;
        border-left: 3px solid #e5101d;
    }

    ol, ul {
        list-style: none;
    }

    .left-profile .action-list {
        padding-bottom: 8px;
    }
        /*ul, menu, dir {
                    display: block;
                    list-style-type: disc;
                    -webkit-margin-before: 1em;
                    -webkit-margin-after: 1em;
                    -webkit-margin-start: 0px;
                    -webkit-margin-end: 0px;
                    -webkit-padding-start: 40px;
                }*/
        .left-profile .action-list li a {
            display: block;
            position: relative;
            color: #666;
            height: 32px;
            line-height: 32px;
            padding-left: 30px;
        }

    li.voucher-wallet .icon {
        width: 16px;
        height: 16px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0px;
        fill: #999999;
    }

    svg:not(:root) {
        overflow: hidden;
    }

    .left-profile .action-list li:last-child {
        border-bottom: none;
    }

    .left-profile .action-list li {
        padding: 2px 0;
    }

        .left-profile .action-list li a:hover, .left-profile .action-list li a.active {
            background-color: #fff;
            color: #e5101d;
            font-weight: bold;
        }

    .left-profile .block-launch-app {
        padding: 10px;
        border: none;
        position: relative;
    }

    .left-profile .user-inf-top .avatar {
        display: block;
        width: 40px;
        height: 40px;
        float: left;
        margin-right: 10px;
        border-radius: 20px;
        border: 1px solid #e7e7e7;
        padding: 2px;
    }

    img {
        border: 0;
        max-width: 100%;
    }

    .left-profile .user-inf-top .shopname {
        color: #333333;
        font-weight: bold;
        line-height: 16px;
        display: block;
        font-size: 13px;
    }

    a {
        background-color: transparent;
        color: #333;
        text-decoration: none;
    }

    .left-profile .user-inf-top .edit-account {
        color: #999;
        font-size: 11px;
        margin-top: 5px;
        display: block;
    }

    .voucher-wallet {
        position: relative;
    }
    /*Icon*/
    .left-profile .action-list li a:before {
        content: '';
        background: url(//checkout.scdn.vn/images/ecom/icPriteProfile.png) 0 0 no-repeat;
        position: absolute;
        top: 8px;
        left: 8px;
    }
    /*Right profile*/
    .wrapper-profile .right-profile {
        margin-left: 220px;
        padding: 0 10px 10px 20px;
        background-color: #fff;
        min-height: 600px;
        transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -webkit-transition: all 0.2s ease-out;
    }

    .ttl-box-profile {
        color: #333;
        font-size: 16px;
        font-weight: bold;
        height: 32px;
        line-height: 32px;
        border-bottom: 1px solid #ededed;
        /* text-transform: uppercase; */
    }

    .profile-user .ttl-box-profile {
        border-bottom: none;
        text-transform: none;
    }

    .profile-user .block-control {
        border-bottom: 1px solid #e7e7e7;
    }

    .profile-user .sort-block {
        width: 220px;
        display: inline-block;
        float: right;
        position: relative;
    }

    .order-tabs {
        white-space: nowrap;
        overflow: auto;
    }

    .profile-user .order-tabs {
        display: inline-block;
    }

        .profile-user .order-tabs li {
            display: inline-block;
            /* margin-left: 10px; */
            margin-right: 20px;
        }

        .profile-user .order-tabs li {
            margin-bottom: 0;
            padding: 0;
        }

            .profile-user .order-tabs li a {
                display: block;
                padding: 10px 0;
                border-bottom: none;
                /* border-radius: 2px 2px 0 0; */
                white-space: nowrap;
                margin-left: 2px;
                display: inline-block;
                /* margin-left: 10px; */
                margin-right: 20px;
            }

    .sort-block .options-sort .option-selected {
        padding: 0 24px 0 10px;
        position: relative;
        border: 1px solid #c6c6c6;
        background: #f5f5f5;
        cursor: pointer;
        color: #666666;
        height: 30px;
        line-height: 30px;
        border-radius: 2px;
    }

    .options-sort .option-selected:after {
        content: '';
        display: block;
        float: right;
        background: url(//checkout.scdn.vn/images/ecom/arr_down.svg) no-repeat 0 0;
        position: absolute;
        width: 32px;
        height: 32px;
        top: 9px;
        right: -19px;
        background-size: 30%;
    }

    .profile-user .order-tabs li:hover, .profile-user .order-tabs li.active {
        border-bottom: 2px solid #e5101d;
    }

    .left-profile .block-launch-app {
        padding: 10px;
        border: none;
        position: relative;
    }

        .left-profile .block-launch-app p {
            display: block;
            font-size: 13px;
            text-align: left;
            line-height: 20px;
            margin-bottom: 10px;
        }

        .left-profile .block-launch-app .apple {
            cursor: pointer;
            background: url(//checkout.scdn.vn/images/ecom/ic-sprites.png) no-repeat 0 -350px;
            height: 30px;
            width: 97px;
            display: inline-block;
        }

        .left-profile .block-launch-app .adriod {
            cursor: pointer;
            background: url(//checkout.scdn.vn/images/ecom/ic-sprites.png) no-repeat -122px -350px;
            width: 97px;
            height: 30px;
            display: inline-block;
        }

    .sort-block .options-sort .sub-options-sort {
        width: 100%;
        position: absolute;
        top: 30px;
        border: 1px solid #c6c6c6;
        background: #fff;
        display: none;
        z-index: 1;
    }

        .sort-block .options-sort .sub-options-sort span {
            display: block;
            line-height: 17px;
            padding: 5px;
            cursor: pointer;
        }
    /*        Order - tab*/
    @@media screen and (max-width: 767px) {
        .order-tabs-b {
            height: 32px;
            display: none;
        }
    }

    @@media screen and (max-width: 767px) {
        .order-tabs-sm {
            display: block;
            opacity: 1;
        }
    }

    .order-tabs-sm {
        float: left;
        width: 140px;
        height: 30px;
        line-height: 30px;
        background-color: #fff;
        border: 1px solid #c7c7c7;
        border-radius: 2px;
        padding: 0 10px;
        position: relative;
        display: none;
        opacity: 0;
    }

        .order-tabs-sm .sel {
            display: block;
            line-height: 30px;
        }

        .order-tabs-sm .icon-Navigationdownhome {
            width: 15px;
            height: 15px;
            color: #666;
            top: 4px;
            position: relative;
            right: -5px;
        }

        .order-tabs-sm .order-tabs-sm-sub {
            position: absolute;
            top: 28px;
            left: -1px;
            right: 0;
            background-color: #fff;
            z-index: 1;
            border: 1px solid #c7c7c7;
            border-radius: 2px;
            padding: 5px 0;
            display: none;
        }

    @@media screen and (max-width: 480px) {
        .cont-order-tabs .user-order-items.first-child {
            min-height: 280px;
        }
    }

    @@media screen and (max-width: 640px) {
        .cont-order-tabs .user-order-items.first-child {
            min-height: 290px;
        }
    }

    @@media screen and (max-width: 767px) {
        .cont-order-tabs .user-order-items.first-child {
            position: relative;
            min-height: 280px;
            /* padding: 10px; */
        }
    }

    @@media screen and (max-width: 1024px) {
        .cont-order-tabs .user-order-items.first-child {
            min-height: 310px;
        }
    }

    @@media screen and (max-width: 1130px) {
        .cont-order-tabs .user-order-items.first-child {
            position: relative;
            padding-bottom: 60px;
            min-height: 275px;
            padding: 10px;
        }
    }

    .cont-order-tabs .user-order-items.first-child {
        margin-top: 20px;
        position: relative;
        min-height: 220px;
    }

    @@media screen and (max-width: 767px) {
        .cont-order-tabs .user-order-items {
            box-shadow: 0px 2px 5px #cacaca;
        }
    }

    @@media screen and (max-width: 1130px) {
        .cont-order-tabs .user-order-items {
            border: 1px solid #cacaca;
        }
    }

    .cont-order-tabs .user-order-items {
        margin-top: 10px;
        border: 1px solid #ddd;
        float: left;
        width: 100%;
    }

    .user-order-items .order-inf1 {
        background-color: #f5f5f5;
        padding-bottom: 10px;
    }

    @@media screen and (max-width: 1130px) {
        .user-order-items .order-inf1 {
            height: 60px;
        }
    }

    @@media screen and (max-width: 1130px) {
        .user-order-items .order-inf1 {
            background-color: #FCF4DB;
        }
    }

    @@media screen and (max-width: 1130px) {
        .user-order-items .order-inf1 {
            height: auto;
            padding-bottom: 8px;
            background-color: #f5f5f5;
            overflow: auto;
        }
    }

    @@media screen and (max-width: 1024px) {
        .user-order-items .order-inf1 {
            margin: -10px;
        }
    }

    @@media screen and (max-width: 767px) {
        .user-order-items .order-inf1 {
            height: auto;
            padding-bottom: 8px;
            background-color: #f5f5f5;
            overflow: auto;
        }
    }

    @@media screen and (max-width: 320px) {
        .user-order-items .order-inf1 {
            height: auto;
            overflow: inherit;
        }
    }

    @@media screen and (max-width: 1024px) {
        .user-order-items .order-inf1 .cols-order-inf:first-child {
            margin-left: 0;
            padding: 13px 0 0 10px;
            float: left;
        }
    }

    @@media screen and (max-width: 1130px) {
        .user-order-items .order-inf1 .cols-order-inf:first-child {
            margin-left: 0;
        }
    }

    @@media screen and (max-width: 1130px) {
        .user-order-items .order-inf1 .cols-order-inf:first-child {
            margin-left: 0;
            width: 49%;
        }
    }

    .user-order-items .order-inf1 .cols-order-inf:first-child {
        margin-left: 20px;
    }

    @@media screen and (max-width: 480px) {
        .user-order-items .order-inf1 .cols-order-inf {
            float: left;
        }
    }

    @@media screen and (max-width: 767px) {
        .user-order-items .order-inf1 .cols-order-inf {
            margin: 0;
            width: 50%;
            line-height: 16px;
        }
    }

    @@media screen and (max-width: 1024px) {
        .user-order-items .order-inf1 .cols-order-inf {
            padding: 8px 10px 0;
        }
    }

    @@media screen and (max-width: 1130px) {
        .user-order-items .order-inf1 .cols-order-inf {
            margin: 0;
            width: 50%;
            line-height: 16px;
        }
    }

    @@media screen and (max-width: 1130px) {
        .user-order-items .order-inf1 .cols-order-inf {
            margin: 0;
            padding: 8px 15px 0;
            width: 25%;
            line-height: 17px;
        }
    }

    .user-order-items .order-inf1 .cols-order-inf {
        line-height: 1.6;
        position: relative;
        margin-top: 10px;
        width: 30%;
        display: inline-block;
    }

    .user-order-items .order-inf1 .order-code {
        float: left;
        margin-right: 15px;
        width: 100%;
    }

    @@media screen and (max-width: 767px) {
        .user-order-items .order-inf1 .cols-order-inf .hide-mobile, .inner-detail .hide-mobile, .cont-order-detail .first-block span .hide-mobile, .left-profile .block-launch-app, .order-inf1 .cols-order-inf:hover .user-inf-add {
            display: none;
        }
    }

    @@media screen and (max-width: 767px) {
        .order-contact .btn-phone {
            background: #1cac93;
            color: #fff;
        }
    }

    .order-contact .btn-phone {
        position: relative;
        padding: 5px;
        white-space: normal;
        overflow: hidden;
        text-align: center;
        display: block;
        height: 30px;
        border-radius: 3px;
        pointer-events: none;
    }

    @@media screen and (max-width: 1130px) {
        .user-order-items .order-inf1 .cols-order-inf .hide-mobile, .inner-detail .hide-mobile, .cont-order-detail .first-block span .hide-mobile, .left-profile .block-launch-app, .order-inf1 .cols-order-inf:hover .user-inf-add {
            display: none;
        }
    }

    @@media screen and (max-width: 320px) {
        .user-order-items .order-inf1 .cols-order-inf span {
            width: auto;
        }
    }

    @@media screen and (max-width: 414px) {
        .user-order-items .order-inf1 .cols-order-inf span {
            display: inline-block;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    @@media screen and (max-width: 767px) {
        .user-order-items .order-inf1 .cols-order-inf.cols-order-name {
            text-align: right;
            font-size: 13px;
        }
    }

    .user-order-items .order-inf1 .cols-order-inf span {
        display: inline-block;
        cursor: pointer;
    }

    @@media screen and (max-width: 1024px) {
        .user-order-items .order-inf1 .cols-order-inf.cols-order-name {
            padding: 10px 10px 0 0;
        }
    }

    @@media screen and (max-width: 1130px) {
        .user-order-items .order-inf1 .cols-order-inf.cols-order-name {
            text-align: right;
            font-size: 13px;
        }
    }

    @@media screen and (max-width: 480px) {
        .user-order-items .order-inf1 .cols-order-inf {
            float: left;
        }
    }

    @@media screen and (max-width: 767px) {
        .user-inf-status-dh {
            display: block;
        }
    }

    @@media screen and (max-width: 1130px) {
        .user-inf-status-dh {
            display: block;
        }
    }

    .order-inf1 .cols-order-inf .user-inf-add {
        position: absolute;
        width: 300px;
        padding: 5px 10px;
        line-height: 20px;
        border: 1px solid #ccc;
        background: #4db56d;
        color: #fff;
        display: none;
        z-index: 10;
        opacity: 0.8;
        transition: all .2s linear;
        -moz-transition: all .2s linear;
        -webkit-transition: all .2s linear;
    }

    @@media screen and (max-width: 320px) {
        .user-order-items .order-inf1 .cols-order-inf.cols-total-money {
            width: 35%;
            padding: 10px 10px 0 0;
            font-size: 13px;
        }
    }

    @@media screen and (max-width: 480px) {
        .user-order-items .order-inf1 .cols-order-inf.cols-total-money {
            width: 40%;
        }
    }

    @@media screen and (max-width: 767px) {
        .user-order-items .order-inf1 .cols-order-inf.cols-total-money {
            position: absolute;
            bottom: 10px;
            width: 25%;
            left: 10px;
            text-align: left;
            font-size: 15px;
            font-weight: bold;
            padding: 0;
        }
    }

    @@media screen and (max-width: 1024px) {
        .user-order-items .order-inf1 .cols-order-inf.cols-total-money {
            display: none;
        }
    }

    @@media screen and (max-width: 1130px) {
        .user-order-items .order-inf1 .cols-order-inf.cols-total-money {
            position: absolute;
            bottom: 10px;
            width: 25%;
            left: 10px;
            text-align: left;
            font-size: 15px;
            font-weight: bold;
        }
    }

    .user-inf-status-dh {
        display: none;
    }

    @@media screen and (max-width: 767px) {
        .user-order-items .order-inf2 {
            position: initial;
        }
    }

    @@media screen and (max-width: 1130px) {
        .user-order-items .order-inf2 {
            position: initial;
        }
    }

    @@media screen and (max-width: 480px) {
        .order-inf2 .order-inf2-rg {
            float: none;
            width: 100%;
            padding: 0 10px 10px 10px;
        }
    }

    @@media screen and (max-width: 767px) {
        .order-inf2 .order-inf2-rg {
            padding: 13px 0 0 0;
            margin-top: 20px;
            margin-bottom: 10px;
        }
    }

    @@media screen and (max-width: 767px) {
        .order-inf2 .order-inf2-rg {
            float: none;
        }
    }

    @@media screen and (max-width: 1024px) {
        .order-inf2 .order-inf2-rg {
            width: 60%;
            margin: 20px auto 10px;
        }
    }

    @@media screen and (max-width: 1024px) {
        .order-inf2 .order-inf2-rg {
            padding: 0;
        }
    }

    @@media screen and (max-width: 1130px) {
        .order-inf2 .order-inf2-rg {
            float: none;
        }
    }

    @@media screen and (max-width: 1366px) {
        .order-inf2 .order-inf2-rg {
            width: 60%;
        }
    }

    .order-inf2 .order-inf2-rg {
        float: right;
        padding: 20px 20px 0 0;
        width: 51%;
    }

    @@media screen and (max-width: 375px) {
        .block-inprogress {
            width: 260px;
        }
    }

    @@media screen and (max-width: 414px) {
        .block-inprogress {
            width: 305px;
        }
    }

    @@media screen and (max-width: 480px) {
        .block-inprogress {
            width: 330px;
        }
    }

    @@media screen and (max-width: 640px) {
        .block-inprogress {
            width: 420px;
        }
    }

    @@media screen and (max-width: 767px) {
        .block-inprogress {
            margin: 0 auto;
            overflow: auto;
            width: 446px;
        }
    }

    @@media screen and (max-width: 1024px) {
        .block-inprogress {
            width: 446px;
        }
    }

    @@media screen and (max-width: 1130px) {
        .block-inprogress {
            margin: 0 auto;
            overflow: auto;
            width: 375px;
        }
    }

    @@media screen and (max-width: 767px) {
        .block-inprogress .inner-steps:first-child {
            min-width: 25px;
        }
    }

    @@media screen and (max-width: 767px) {
        .block-inprogress .inner-steps:first-child {
            padding-left: 0;
        }
    }

    @@media screen and (max-width: 1024px) {
        .block-inprogress .inner-steps:first-child {
            min-width: 42px;
        }
    }

    @@media screen and (max-width: 1130px) {
        .block-inprogress .inner-steps:first-child {
            padding-left: 0;
        }
    }

    .block-inprogress .inner-steps:first-child {
        padding-left: 0;
        min-width: 85px;
    }

    @@media screen and (max-width: 375px) {
        .block-inprogress .inner-steps {
            margin: 3px;
            padding-left: 35px;
        }
    }

    @@media screen and (max-width: 414px) {
        .block-inprogress .inner-steps {
            margin: 4px;
            padding-left: 40px;
        }
    }

    @@media screen and (max-width: 480px) {
        .block-inprogress .inner-steps {
            padding-left: 45px;
        }
    }

    @@media screen and (max-width: 480px) {
        .block-inprogress .inner-steps {
            margin: 3px;
        }
    }

    @@media screen and (max-width: 767px) {
        .block-inprogress .inner-steps {
            margin: 5px;
            padding-left: 70px;
            min-width: auto;
        }
    }

    @@media screen and (max-width: 1024px) {
        .block-inprogress .inner-steps {
            padding-left: 70px;
        }
    }

    @@media screen and (max-width: 1130px) {
        .block-inprogress .inner-steps {
            margin: 5px;
            padding-left: 55px;
            min-width: auto;
        }
    }

    .block-inprogress .inner-steps.check-item .icon-outer::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        width: 14px;
        height: 14px;
        background: url(//checkout.scdn.vn/images/ecom/icPriteProfile.png) -40px -80px no-repeat;
    }

    [class^='icon-'], [class*=' icon-'] {
        display: inline-block;
        color: #000000;
        fill: currentColor;
        width: 20px;
        height: 20px;
    }

    .block-inprogress .inner-steps.check-item .icon-outer {
        position: relative;
        display: inline;
    }

    @@media screen and (max-width: 375px) {
        .block-inprogress .inner-steps .icon {
            width: 28px;
            height: 28px;
        }
    }

    @@media screen and (max-width: 414px) {
        .block-inprogress .inner-steps .icon {
            width: 35px;
            height: 35px;
        }
    }

    @@media screen and (max-width: 480px) {
        .block-inprogress .inner-steps .icon {
            width: 40px;
            height: 40px;
        }
    }

    .block-inprogress .inner-steps .icon-line {
        position: absolute;
        top: 0;
        left: 0;
        width: 60px;
    }

    .block-inprogress .inner-steps .icon-active {
        fill: #4585f4;
    }

    .block-inprogress .inner-steps .icon {
        width: 42px;
        height: 42px;
        fill: #d0d0d0;
    }

    .block-inprogress .inner-steps {
        float: left;
        text-align: center;
        padding-left: 60px;
        position: relative;
        min-width: 155px;
    }

    @@media screen and (max-width: 480px) {
        .user-order-items .order-inf2 .order-inf2-lf.feedback {
            width: 100%;
        }
    }

    @@media screen and (max-width: 767px) {
        .user-order-items .order-inf2 .order-inf2-lf.feedback {
            padding-left: 0;
        }
    }

    @@media screen and (max-width: 1024px) {
        .user-order-items .order-inf2 .order-inf2-lf.feedback {
            width: 100%;
            padding-left: 10px;
        }
    }

    @@media screen and (max-width: 1130px) {
        .user-order-items .order-inf2 .order-inf2-lf.feedback {
            width: 48%;
            padding-left: 20px;
        }
    }

    @@media screen and (max-width: 1366px) {
        .user-order-items .order-inf2 .order-inf2-lf.feedback {
            width: 40%;
        }
    }

    .user-order-items .order-inf2 .order-inf2-lf.feedback {
        width: 49%;
    }

    .user-order-items .order-inf2-rg-feedback {
        float: none;
        color: #333333;
        padding: 0;
        overflow: auto;
    }

    .order-inf2-lf .order-inf2-rg-feedback {
        width: 70%;
        float: left;
        padding: 10px 20px 10px 0;
    }

    @@media screen and (max-width: 480px) {
        .order-inf2-rg-feedback, .tbl-items-list .item-pr .item-pr-info {
            width: 79%;
        }
    }

    @@media screen and (max-width: 480px) {
        .order-inf2-rg-feedback {
            width: 100%;
            padding: 10px;
        }
    }

    @@media screen and (max-width: 480px) {
        .order-inf2-rg-feedback {
            width: 100%;
            float: none;
            padding: 10px;
        }
    }

    @@media screen and (max-width: 1130px) {
        .order-inf2-rg-feedback {
            padding-right: 10px;
        }
    }

    .order-inf2-lf .rating-feedback {
        overflow: hidden;
        width: 100%;
        display: inline-block;
        float: left;
    }

    @@media screen and (max-width: 480px) {
        .rating-feedback, .block-left-detail .follow-dh {
            width: 100%;
        }
    }

    @@media screen and (max-width: 700px) {
        .rating-feedback {
            width: 25%;
        }
    }

    .order-inf2-rg-feedback .rating-stars {
        float: left;
    }

    .greyStar {
        background: url(//checkout.scdn.vn/images/ecom/ic-home.png) 0 -431px no-repeat;
        height: 15px;
        width: 100px;
        float: left;
    }

        .greyStar .redStar {
            background: url(//checkout.scdn.vn/images/ecom/ic-home.png) 0 -411px no-repeat;
            height: 15px;
            float: left;
        }

    @@media screen and (max-width: 480px) {
        .user-order-items .order-inf2-rg-feedback .comment-feedback {
            padding: 5px;
            width: 100%;
        }
    }

    @@media screen and (max-width: 767px) {
        .block-left-detail .cols-right-detail, .user-order-items .order-inf2-rg-feedback .comment-feedback {
            width: 100%;
        }
    }

    .user-order-items .order-inf2-rg-feedback .comment-feedback {
        padding: 5px;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    @@media screen and (max-width: 480px) {
        .order-inf2-rg-feedback .comment-feedback {
            margin: 10px 0 0 0;
            width: 100%;
            padding: 0;
        }
    }

    @@media screen and (max-width: 1024px) {
        .user-address-block .rating-feedback.user-address-block .rating-feedback, .order-inf2-rg-feedback .comment-feedback, .user-address-block .order-inf2-rg-feedback {
            width: 100% !important;
        }
    }

    .order-inf2-rg-feedback .comment-feedback {
        display: inline-block;
        padding: 5px 25px 5px 5px;
        line-height: 17px;
        position: relative;
        width: 70%;
        float: left;
        color: #999999;
    }

    @@media screen and (max-width: 1366px) {
        .user-order-items .group-img-comment {
            margin-top: 5px;
        }
    }

    .user-order-items .group-img-comment {
        overflow: auto;
        margin-top: 10px;
        height: 43px;
    }

    @@media screen and (max-width: 767px) {
        .cols-total-money-mobile, .block-btn-group {
            padding: 0;
        }
    }

    @@media screen and (max-width: 1024px) {
        .cols-total-money-mobile {
            display: block;
            float: right;
            width: 100%;
            text-align: right;
            margin: 10px 0;
            padding: 0 10px;
            font-weight: bold;
            overflow: auto;
        }
    }

    .cols-total-money-mobile {
        display: none;
    }

    .user-order-items .block-btn-group {
        clear: both;
        width: 100%;
    }

    @@media screen and (max-width: 1024px) {
        .block-btn-group {
            width: 100%;
            max-width: 100%;
        }
    }

    @@media screen and (max-width: 1366px) {
        .block-btn-group {
            padding: 10px;
        }
    }

    .user-order-items .block-btn-group > div {
        display: block;
        max-width: 50%;
        padding: 10px 20px 10px;
        overflow: auto;
    }

    .user-order-items .block-btn-left {
        float: left;
        text-align: left;
    }

    @@media screen and (max-width: 767px) {
        .user-order-items .block-btn-group > div {
            padding: 0 0 10px 0;
        }
    }

    @@media screen and (max-width: 767px) {
        .user-order-items .block-btn-group > div, .user-order-items .block-btn-group .block-btn-right {
            max-width: none;
            width: 100%;
        }
    }

    .user-order-items .block-btn-group > div {
        display: block;
        max-width: 50%;
        padding: 10px 20px 10px;
        overflow: auto;
    }

    .user-order-items .block-btn-left {
        float: left;
        text-align: left;
    }

    @@media screen and (max-width: 767px) {
        .user-order-items .block-btn-group > div {
            padding: 0 0 10px 0;
        }
    }

    .user-order-items .block-btn-group > div {
        display: block;
        max-width: 50%;
        padding: 10px 20px 10px;
        overflow: auto;
    }

    .user-order-items .block-btn-left {
        float: left;
        text-align: left;
    }

    @@media screen and (max-width: 767px) {
        .user-order-items .block-btn-group > div, .user-order-items .block-btn-group .block-btn-right {
            max-width: none;
            width: 100%;
        }
    }

    @@media screen and (max-width: 767px) {
        .user-order-items .block-btn-group > div, .user-order-items .block-btn-group .block-btn-right {
            max-width: none;
            width: 100%;
        }
    }

    .user-order-items .block-btn-group .block-btn-right {
        width: 50%;
    }

    .show-mobile {
        display: none;
    }

    svg:not(:root), symbol, image, marker, pattern, foreignObject {
        overflow: hidden;
    }

    .order-contact .btn-yellow > svg, .order-contact .btn-phone > i {
        width: 24px;
        height: 24px;
        position: absolute;
        top: 50%;
        left: 6px;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .order-contact .btn-phone > span {
        color: #646464;
        font-weight: bold;
    }

    .order-contact .btn-yellow > span, .order-contact .btn-phone > span {
        padding-left: 30px;
        line-height: 21px;
        padding-right: 7px;
    }

    .order-contact .btn-yellow > svg, .order-contact .btn-phone > i {
        width: 24px;
        height: 24px;
        position: absolute;
        top: 50%;
        left: 6px;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    @@media screen and (max-width: 1024px) {
        .block-btn-group .bt:last-child {
            margin-bottom: 0;
        }
    }

    .user-order-items .block-btn-right .bt {
        margin-top: 0 !important;
    }

    .order-inf2 .order-inf2-rg .bt:hover, .block-btn-group .bt:hover {
        color: #fff;
        background: #f00;
        border-color: #f00;
        cursor: pointer;
    }

    .user-order-items .block-btn-group .bt {
        float: right;
    }

    .order-contact .btn-yellow {
        background: #ffcf35;
        color: #fff;
        padding: 5px 5px;
        white-space: nowrap;
        overflow: hidden;
        margin-right: 12px;
        text-align: center;
        display: block;
        height: 30px;
        border-radius: 3px;
        position: relative;
        float: left;
    }

    @@media screen and (max-width: 1024px) {
        .block-btn-group .bt:last-child {
            margin-bottom: 0;
        }
    }

    .user-order-items .block-btn-right .bt {
        margin-top: 0 !important;
    }

    .user-order-items .block-btn-group .bt {
        float: right;
    }

    @@media screen and (max-width: 1024px) {
        .block-btn-group .bt, .block-btn-group .bt.btn-hdh {
            width: 100%;
        }
    }

    @@media screen and (max-width: 1024px) {
        .block-btn-group .bt {
            margin-top: 0;
            margin-bottom: 10px;
            margin-left: 0;
            width: 100%;
            display: block;
        }
    }

    .order-inf2 .order-inf2-rg .bt, .block-btn-group .bt {
        background: url(//checkout.scdn.vn/images/ecom/bg-ttl-user-order.gif) 0 -15px repeat-x;
        text-align: center;
        margin-top: 10px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        border: 1px solid #e5101d;
        color: #fff;
        background: #e5101d;
        white-space: nowrap;
        margin-left: 10px;
        padding: 5px 5px;
        overflow: auto;
    }

    a {
        background-color: transparent;
        color: #333;
        text-decoration: none;
    }

    .user-order-items .order-inf1 .cols-order-inf span {
        display: inline-block;
        cursor: pointer;
    }

    .user-order-items .order-code .link-oder-detail {
        color: #0066ff;
    }

    *, *:before, *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        border: 0;
    }

    @@media screen and (max-width: 1130px) {
        .user-order-items .order-inf1 .cols-order-inf {
            margin: 0;
            width: 50%;
            line-height: 16px;
        }
    }

    @@media screen and (max-width: 1130px) {
        .user-order-items .order-inf1 .cols-order-inf .hide-mobile, .inner-detail .hide-mobile, .cont-order-detail .first-block span .hide-mobile, .left-profile .block-launch-app, .order-inf1 .cols-order-inf:hover .user-inf-add {
            display: none;
        }
    }

    .user-order-items .order-inf1 .cols-order-inf span b {
        color: #d7d7d7;
    }

    b, strong {
        font-weight: bold;
    }

    .user-order-items .order-inf1 .cols-order-inf span {
        display: inline-block;
        cursor: pointer;
    }

    @@media screen and (max-width: 1130px) {
        .user-order-items .order-inf1 .cols-order-inf-name {
            display: none;
        }
    }

    .user-order-items .order-inf1 .cols-order-inf span {
        display: inline-block;
        cursor: pointer;
    }

    @@media screen and (max-width: 1130px) {
        .user-inf-status-dh span {
            background: #5dd6cf;
            color: #fff;
            text-align: center;
            padding: 1px 5px;
            border-radius: 4px;
            margin: 5px 0;
            font-size: 11px;
        }
    }

    .order-inf1 .cols-order-inf .user-inf-add {
        position: absolute;
        width: 300px;
        padding: 5px 10px;
        line-height: 20px;
        border: 1px solid #ccc;
        background: #4db56d;
        color: #fff;
        display: none;
        z-index: 10;
        opacity: 0.8;
        transition: all .2s linear;
        -moz-transition: all .2s linear;
        -webkit-transition: all .2s linear;
    }

    @@media screen and (max-width: 1130px) {
        .user-order-items .order-inf1 .cols-order-inf.cols-total-money span {
            font-weight: normal;
            font-size: 14px;
        }
    }

    @@media screen and (max-width: 1130px) {
        .user-order-items .order-inf2 {
            position: initial;
        }
    }

    .user-order-items .order-inf1 .cols-order-inf span {
        display: inline-block;
        cursor: pointer;
    }

    .user-order-items .order-inf1 .cols-total-money span {
        display: block !important;
    }

    .block-inprogress .inner-steps .icon {
        width: 42px;
        height: 42px;
        fill: #d0d0d0;
    }

    svg:not(:root) {
        overflow: hidden;
    }

    .show-desktop {
        display: inline-block;
    }

    @@media screen and (max-width: 320px) {
        .user-order-items .order-inf1 .cols-order-inf span {
            width: auto;
        }
    }

    @@media screen and (max-width: 414px) {
        .user-order-items .order-inf1 .cols-order-inf span {
            display: inline-block;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    .user-order-items .order-inf1 .cols-order-inf span {
        display: inline-block;
        cursor: pointer;
    }

    @@media screen and (max-width: 767px) {
        .user-inf-status-dh {
            display: block;
        }
    }

    @@media screen and (max-width: 1130px) {
        .user-inf-status-dh {
            display: block;
        }
    }

    @@media screen and (max-width: 767px) {
        .user-order-items .order-inf1 .cols-order-inf-name {
            display: none;
        }
    }

    @@media screen and (max-width: 1130px) {
        .user-order-items .order-inf1 .cols-order-inf-name {
            display: none;
        }
    }

    .user-inf-status-dh {
        display: none;
    }

    @@media screen and (max-width: 767px) {
        .user-order-items .order-inf1 .cols-order-inf.cols-order-name {
            text-align: right;
            font-size: 13px;
        }
    }

    @@media screen and (max-width: 1130px) {
        .user-order-items .order-inf1 .cols-order-inf.cols-order-name {
            text-align: right;
            font-size: 13px;
        }
    }

    @@media screen and (max-width: 767px) {
        .user-order-items .order-inf1 .cols-order-inf {
            margin: 0;
            width: 50%;
            line-height: 16px;
        }
    }

    @@media screen and (max-width: 1130px) {
        .user-order-items .order-inf1 .cols-order-inf {
            margin: 0;
            width: 50%;
            line-height: 16px;
        }
    }

    @@media screen and (max-width: 1130px) {
        .user-order-items .order-inf1 .cols-order-inf {
            margin: 0;
            padding: 8px 15px 0;
            width: 25%;
            line-height: 17px;
        }
    }

    .user-order-items .order-inf1 .cols-order-inf {
        line-height: 1.6;
        position: relative;
        margin-top: 10px;
        width: 30%;
        display: inline-block;
    }

    @@media screen and (max-width: 767px) {
        .user-order-items .order-inf1 .cols-order-inf.cols-total-money span {
            font-weight: normal;
            font-size: 14px;
        }
    }

    @@media screen and (max-width: 1130px) {
        .user-order-items .order-inf1 .cols-order-inf.cols-total-money span {
            font-weight: normal;
            font-size: 14px;
        }
    }

    .user-order-items .order-inf1 .cols-order-inf span {
        display: inline-block;
        cursor: pointer;
    }

    .user-order-items .order-inf1 .cols-total-money span {
        display: block !important;
    }
</style>



<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="breadcrumb clearfix">
                    <ul>
                        <li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="" class="home">
                            <a title="Đến trang chủ" href="/" itemprop="url"><span itemprop="title">Trang chủ</span></a>
                        </li>
                        <li class="icon-li" style="width: 150px;"><strong>Lịch sử giao dịch</strong> </li>
                    </ul>
                </div>

                <div class="wrapper-profile profile-user">
                    <!--left-profile-->
                    <script type="text/javascript">
                        $(document).ready(function () {
                            $('.box-fb-top').hide();
                            $('.left-profile .menu-quanly').on('click', function () {
                                $(this).toggleClass('down');
                                $('.left-profile .box-quanly').slideToggle(100);
                            });
                        });
                    </script>
                    <div class="left-profile">
                        <div class="box-profile-top">
                            <div class="user-inf-top">
                                <img src="https://media3.scdn.vn/img2/2018/4_4/x4d8Dw_simg_8b3ef4_40x40_maxb.jpg" alt="" class="avatar">
                                <a href="" title="@Username" class="shopname" cid="2014288751">@Username</a>
                                <a href="../Account/ViewProfile" title="Chỉnh sửa tài khoản" class="edit-account">Chỉnh sửa tài khoản</a>
                            </div>
                            <div class="menu-quanly">
                                <svg class="icon-quickmenu2"><use xlink:href="#icon-quickmenu2"></use></svg>
                            </div>
                            <div class="box-quanly">
                                <div class="ttl-box">Quản lý giao dịch</div>
                                <ul class="action-list">
                                    <li class="order"><a href="" title="Đơn hàng" class="active">Đơn hàng <i>&nbsp;</i></a></li>
                                    <li class="account-senpay"><a href="" title="Tài khoản VLU">Tài khoản VLU<i>&nbsp;</i></a></li>
                                    <li class="address"><a href="" title="Địa chỉ nhận hàng">Địa chỉ nhận hàng<i>&nbsp;</i></a></li>
                                    <li class="products"><a href="" title="Sản phẩm yêu thích">Sản phẩm yêu thích<i>&nbsp;</i></a></li>
                                </ul>
                                <div class="ttl-box">Quản lý tài khoản</div>
                                <ul class="action-list">
                                    <li class="user-inf"><a href="" title="Thông tin tài khoản">Thông tin tài khoản <i>&nbsp;</i></a></li>

                                    <li class="bag"><a href="" title="Ví điểm SEN">Ví điểm VLU <i>&nbsp;</i></a></li>

                                    <li class="mailbox"><a href="" title="Hộp thư">Hộp thư<i>&nbsp;</i></a></li>
                                    <li class="love-shop"><a href="" title="Shop yêu thích">Shop yêu thích<i>&nbsp;</i></a></li>
                                    <li class="voucher-wallet">
                                        <a href="" title="Mã giảm giá của bạn">Mã giảm giá của bạn<i>&nbsp;</i></a>
                                        <svg class="icon"><use xlink:href="#icon-profile-voucher"></use></svg>
                                    </li>
                                    <li class="qa"><a href="" title="Hỏi đáp">Hỏi đáp<i>&nbsp;</i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="block-launch-app">
                            <div>
                                <p>Cài đặt <strong>Trading App</strong> trên smartphone để <br><b>“nhận thông báo Trạng thái đơn hàng”</b><br> mọi lúc mọi nơi</p>
                                <span class="qr-bg"></span>
                                <a target="_blank" href="" title="App Trading dành cho IOS" class="apple">&nbsp;</a>
                                <a target="_blank" href="" title="App Trading dành cho android" class="adriod">&nbsp;</a>
                            </div>
                        </div>
                    </div>        <!--right-profile-->
                    <div class="right-profile">
                        <div class="ttl-box-profile">Lịch sử giao dịch</div>
                        <div class="block-control">
                            <div class="sort-block">
                                <!-- <span class="lbl">Lọc theo</span> -->
                                <div class="options-sort">
                                    <p class="option-selected">
                                        Trong 30 ngày
                                    </p>
                                    <div class="sub-options-sort">
                                        <a href=""><span>Tất cả</span></a>
                                        <a href=""><span>Trong 7 ngày</span></a>
                                        <a href=""><span>Trong 3 tháng</span></a>
                                        <a href=""><span>Trong 6 tháng</span></a>
                                        <a href=""><span>Trong 1 năm</span></a>
                                    </div>
                                </div>
                            </div>
                            <ul class="order-tabs" >
                                <li class="active"><a href="" title="" style="text-decoration:none;">Hàng mua </a></li>
                                <li><a href="./HistoryTrading" title="" style="text-decoration:none;">Hàng bán </a></li>

                            </ul>
                        </div>
                        @foreach (var item in orderlst)
                        {
                            
                            <div class="cont-order-tabs">
                                <div class="user-order-items first-child">
                                    <div class="order-inf1 util-clearfix">
                                        <div class="cols-order-inf">
                                            <div class=" order-code">
                                                <span class="hide-mobile">Mã đơn hàng: </span> <a href="https://www.sendo.vn/sales/order/view/order_nr/1471425631/" title="Xem chi tiết đơn hàng"><span class="link-oder-detail">#@item.OrderCode</span></a>  <a href="https://www.sendo.vn/sales/order/view/order_nr/1471425631/" title="Xem chi tiết đơn hàng"><span class="hide-mobile link-oder-detail"><b>|</b>  Chi tiết</span></a>
                                            </div>
                                            <div>
                                                <span class="hide-mobile">Đặt ngày: </span> @item.Date
                                            </div>
                                        </div>

                                        <div class="cols-order-inf cols-order-name">
                                            <div class="user-inf-status-dh"><span>Đã giao hàng&nbsp;</span></div>
                                            <p class="cols-order-inf-name">Người nhận: </p><span>@Username                            <!-- <svg class="icon-Navigationdownhome"><use xlink:href="#icon-Navigationdownhome"></use></svg> --></span>
                                            <div class="user-inf-add">
                                                nhà công vụ đại học quốc gia - Phường Đông Hòa - Thị xã Dĩ An - Bình Dương<br>
                                                0971986896
                                            </div>

                                        </div>
                                        <div class="cols-order-inf cols-total-money"><span>Tổng tiền:</span> 240,000 VNĐ</div>
                                        <!--  -->
                                    </div>
                                    <div class="order-inf2 util-clearfix">
                                        <div class="order-inf2-rg">
                                            <div class="block-inprogress">
                                                <div class="inner-steps ">
                                                    <div class="icon-outer"><svg class="icon icon-shoping-flow-xacnhan icon-active"><use xlink:href="#icon-shoping-flow-xacnhan"></use></svg></div>
                                                    <p> Chờ xác nhận</p>

                                                </div>
                                                <div class="inner-steps ">
                                                    <div class="icon-outer"><svg class="icon icon-shoping-flow-dangvanchueyn icon-active"><use xlink:href="#icon-shoping-flow-dangvanchueyn"></use></svg></div>
                                                    <svg class="icon icon-line icon-active"><use xlink:href="#icon-line"></use></svg>
                                                    <p> Đang vận chuyển</p>

                                                </div>
                                                <div class="inner-steps check-item">
                                                    <div class="icon-outer"><svg class="icon icon-shoping-flow-dagiaohang icon-active"><use xlink:href="#icon-shoping-flow-dagiaohang"></use></svg></div>
                                                    <svg class="icon icon-line icon-active"><use xlink:href="#icon-line"></use></svg>
                                                    <p> Đã giao hàng</p>
                                                </div>
                                            </div>
                                        </div>
                                        @foreach (var itemof in itemoforder)
                                        {
                                            if (itemof.OrderID == item.OrderCode)
                                            {
                                                <div class="order-inf2-lf feedback" style="margin-left:15px;margin-top:15px;">
                                                    <a href="" title="" class="img"><img src="@itemof.Product.Picture01" alt="" height="100" width="100"></a>
                                                    <a href="" title="Nhẫn cặp nam nữ" class="pr-name">@itemof.Product.Name</a>
                                                    <a href="" title="Trang sức Doraemon" class="shop-name">Shop: <span></span></a>
                                                </div>
                                            }
                                        }
                                        
                                        <div class="order-inf2-rg-feedback" style="margin-left:15px;margin-top:15px;">
                                            <div class="rating-feedback">
                                                <div class="rating-stars">
                                                    <div class="greyStar"><div class="redStar" style="width:100%;">&nbsp;</div> </div><span class="note-rating"></span>
                                                </div>
                                            </div>
                                            <div class="comment-feedback">
                                                <span><span class="no-border">"</span> Sản phẩm tốt vượt mong đợi</span>

                                                <div class="group-img-comment">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cols-order-inf cols-total-money-mobile"><span>Tổng tiền: </span> 240,000 Đ</div>
                                    <div class="block-btn-group">
                                        <div class="block-btn-left order-contact">
                                            <a href="" title="Trang sức Doraemon" class="btn-yellow">
                                                <svg class="icon-bt-shop"><use xlink:href="#icon-bt-shop"></use></svg>
                                                <!--                            <span class="show-mobile">Shop</span>-->
                                                <span>Vào shop</span>
                                            </a>
                                            <a href="tel:0869090461" class="btn-phone">
                                                <i class="show-mobile"><svg class="icon-bt-shop"><use xlink:href="#icon-phone-hand"></use></svg></i>
                                                <span class="show-mobile">Gọi shop</span>
                                                <i class="show-desktop"><svg class="icon-bt-shop"><use xlink:href="#icon-bt-phone-pc"></use></svg></i>
                                                <span class="show-desktop" style="color:white">0869090461</span>
                                            </a>
                                        </div>
                                        <div class="block-btn-right">
                                            <div class="bt"><a href="" style="color: white;text-decoration: none;">Theo dõi đơn hàng</a></div>
                                        </div>
                                    </div>
                                </div>
                                <script>
                                    $(document).ready(function (e) {
                                        lightbox.option({
                                            'alwaysShowNavOnTouchDevices': true,
                                            'disableScrolling': true
                                        })
                                    });
                                </script>
                            </div>
                        }

                       

                    </div>
                </div>


            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
    $(document).ready(function (e) {
        $('.option-selected').on('click', function () {
            $(this).siblings('.sub-options-sort').show();
        });
        $('.sub-options-sort span').on('click', function () {
            $('.option-selected').html($(this).html());
            $('.sub-options-sort').hide();
        });
        $('.order-tabs-sm .sel').on('click', function () {
            $(this).siblings('.order-tabs-sm-sub').show();
        });
        $('.order-tabs-sm-sub a').on('click', function () {
            $('.order-tabs-sm .sel').html($(this).html());
            $('.order-tabs-sm-sub').hide();
        });
        jQuery(document).on('click', function (event) {
            var target = jQuery(event.target);
            if (target.parents('div.options-sort').length == 0) { jQuery("div.sub-options-sort").hide(); }
            if (target.parents('div.order-tabs-sm').length == 0) { jQuery("div.order-tabs-sm-sub").hide(); }
        });
        /*order-tabs*/
        // $('.order-tabs').click(function(){});
        $("#gotopage").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                alert("Chỉ được nhập ký tự số");
                return false;
            }
        });
    });
    function goToPage() {
        var page = $('#gotopage').val();
        var page_int = parseInt(page);
        var url = 'https://www.sendo.vn/sales/order/history/?page=';
        var page_count = 0;
        if (!isNaN(page_int) && page_int <= page_count) {
            url = url + page_int;
        }
        else {
            url = url + page_count;
        }
        window.location = url;
    }

    var loading_ajax_history_order = 1;
    var page_history_order = 1;
    var total_page_history_order = 0;
    var tab_history_order = 'wait_confirm';
    var limit_day = '180';

    $(document).ready(function () {
        $(window).scroll(function () {
            var rate_on_screen = ($(window).scrollTop() + $(window).height()) / $(document).height();
            if (loading_ajax_history_order == 1 && (page_history_order < total_page_history_order) && (rate_on_screen > 0.75) && (window.location.href.split('/sales/order/').length > 1)) {
                seeMoreHistoryOrder();
            }
        });
    });

    function seeMoreHistoryOrder() {
        loading_ajax_history_order = 0;
        page_history_order++;
        $('.loading_.allpage').addClass('show');
        jQuery.ajax({
            url: 'https://www.sendo.vn/sales/order/history/?tab=' + tab_history_order + '&page=' + page_history_order + '&limit_day=' + limit_day,
            type: "POST",
            data: { "page": page_history_order, "tab": tab_history_order, "limit_day": limit_day },
            success: function (data) {

                if (data != '') {
                    var container = $(".cont-order-tabs");
                    container.append(data);
                    loading_ajax_history_order = 1;
                }
                $('.loading_.allpage').removeClass('show');

            }
        });
    }
    var shopcart = [];
    $(document).ready(function () {
        outputCart();
        $('#outputtest').on('change keyup', '.dynqua', function () {
            var iteminfo = $(this.dataset)[0];
            var itemincart = false;
            console.log(shopcart);
            var qty = $(this).val();
            if (qty < 0) {
                qty = 0;
                $(this).val(0);
            }
            $.each(shopcart, function (index, value) {
                if (value.id == iteminfo.id) {
                    shopcart[index].qty = qty;
                    itemincart = true;
                }
            })
            sessionStorage["sca"] = JSON.stringify(shopcart);
            outputCart();
        })
        $('a.remove').click(function () {
            event.preventDefault();
            $(this).parent().parent().parent().hide(400);

        })
        function outputCart() {
            if (sessionStorage["sca"] != null) {
                shopcart = JSON.parse(sessionStorage["sca"].toString());
            }
            console.log(sessionStorage["sca"]);
            console.log(shopcart);
            var holderHTML = '';
            var SubholderHTML = '';
            var holdertest = '';
            var holderHTMLmodal = '';
            var total = 0;
            var itemCnt = 0;
            $.each(shopcart, function (index, value) {
                var stotal = value.qty * value.price;
                var a = (index + 1);
                total += stotal;
                itemCnt += parseInt(value.qty);
                holderHTML += '<tr><td><input type="hidden" name="item_name_' + a + '" value="' + value.name + ' ' + value.s + '">' + value.name + '(' + value.s + ')</td><td><input size="5"  type="number" class="dynqua" name="quantity_' + a + '" value="' + value.qty + '" data-id="' + value.id + '"></td><td><input type="hidden" name="amount_' + a + '" value="' + formatMoney(value.price) + '"> $' + formatMoney(value.price) + ' </td><td class="text-xs-right"> ' + formatMoney(stotal) + '</td></tr>';
                holdertest += '<li class="items odd"><div class="infoWrap"><div class="cartSection"><img src="http://lorempixel.com/output/technics-q-c-300-300-4.jpg" alt="" class="itemImg" /><p class="itemNumber">#QUE-007544-002</p><h3 name="item_name_' + a + '" value="' + value.name + ' ' + value.s + '">' + value.name + '(' + value.s + ')</h3><p><input size="5"  type="number" class="dynqua" name="quantity_' + a + '" value="' + value.qty + '" data-id="' + value.id + '"> x <input type="hidden" name="amount_' + a + '" value="' + formatMoney(value.price) + '"> $' + formatMoney(value.price) + '</p><p class="stockStatus" > In Stock</p></div><div class="prodTotal cartSection text-xs-right"><p>' + formatMoney(stotal) + '</p></div> <div class="cartSection removeWrap">  <a href="#" class="remove">x</a></div></li>';
            })
            holderHTML += '<tr><td colspan="3" class="text-xs-right">Total</td><td class="text-xs-right">$' + formatMoney(total) + '</td></tr>';
            SubholderHTML += '<li class="totalRow final"><span class="label">SubTotal</span><span class="value">' + formatMoney(total) + '</span></li>          <li class="totalRow"><span class="label">Shipping</span><span class="value">$5.00</span></li><li class="totalRow" > <span class="label">Tax</span> <span class="value">$4.00</span></li><li class="totalRow final"><span class="label">Total</span><span class="value">' + formatMoney(total + 900) + '</span></li>';
            holdertest += '<li class="items even"><div class="special"><div class="specialContent">Xem Tat ca don hang</div></div></li>';
            $('#suboutput').html(SubholderHTML);
            $('#outputtest').html(holdertest);
        }


        function formatMoney(n) {
            return (n / 100).toFixed(2);
        }
    })
</script>


