<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Trading - Vanlang University</title>
    <!----------------- CSS --------------------->
    <link href="/Content/reset.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/Content/style.css" rel="stylesheet" type="text/css" />
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/responsive.css" rel="stylesheet" />
    <link href="/Content/jquerybxslider.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/Content/select2min.css" rel="stylesheet" />
    <link href="/Content/animate.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/Content/jquery.fancybox.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/jquery-ui.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!------------------- Scirpt ---------------->
    <script src="~/Scripts/jquery-1.11.3.min.js"></script>
    <script src="~/Scripts/jquery.bxslider.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.touchSwipe.min.js"></script>
    <script src="~/Scripts/select2.min.js" type="text/javascript"></script>
    <script src="~/Scripts/theme-script.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.cookie.js" type="text/javascript"></script>
    <script src="~/Scripts/modernizr.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.plugin.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.actual.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/Scripts/html5shiv.js"></script>
    <script src="~/Scripts/jquery-migrate-1.2.0.min.js"></script>

</head>
<body style="" class="home option2 ng-scope">

    <div class="wrapper page-home">

        <div id="header" class="header">
            <section class="top-link clearfix">
                <div class="container">
                    <div class="row" style="height:50px">
                        <div class="col-md-12">
                            <ul class="nav navbar-nav topmenu-contact pull-left">
                                <li><i class="fa fa-phone"></i> <span>Hotline:0185585935</span></li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right topmenu  hidden-xs hidden-sm">
                                <li class="order-check"><a href="../Product/Cart"><i class="fa fa-pencil-square-o"></i> Kiểm tra đơn hàng</a></li>
                                <li class="order-cart"><a href="../Product/Cart"><i class="fa fa-shopping-cart"></i> Giỏ hàng</a></li>
                                @if (Session["UserName"] == null)
                                {
                                    <li class="account-login"><a href="../Account/Login"><i class="fa fa-sign-in"></i> Đăng nhập </a></li>
                                    <li class="account-register"><a href="../Account/SignUp"><i class="fa fa-key"></i> Đăng ký </a></li>

                                }
                                else
                                {
                                    <li class="account-login"><a href="../Account/ChangePassword"><i class="fa fa-sign-in"></i> Thay đổi mật khẩu </a></li>
                                    <li class="account-register"><a href="../Account/LogOut"><i class="fa fa-key"></i> Đăng xuất </a></li>
                                    <li><a href="../Service/Index"><i class="fa fa-list"></i>CMS </a></li>
                                }
                            </ul>
                            <div class="show-mobile hidden-lg hidden-md">
                                <div class="quick-user">
                                    <div class="quickaccess-toggle">
                                        <i class="fa fa-user"></i>
                                    </div>
                                    <div class="inner-toggle">
                                        <ul class="login links">
                                            <li>
                                                <a href="../Account/SignUp"><i class="fa fa-sign-in"></i> Đăng ký</a>
                                            </li>
                                            <li>
                                                <a href="../Account/Login"><i class="fa fa-key"></i> Đăng nhập</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="quick-access">
                                    <div class="quickaccess-toggle">
                                        <i class="fa fa-list"></i>
                                    </div>
                                    <div class="inner-toggle">
                                        <ul class="links">
                                            <li><a id="mobile-wishlist-total" href="../Product/Cart" class="wishlist"><i class="fa fa-pencil-square-o"></i> Kiểm tra đơn hàng</a></li>
                                            <li><a href="../Product/Cart" class="shoppingcart"><i class="fa fa-shopping-cart"></i> Giỏ hàng</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- MAIN HEADER -->
            <div class="container main-header">
                <div class="row">
                    <div class="col-xs-12 col-sm-3 logo">
                        <a href="/" class="logo" title="Trading">
                            <img src="~/Uploads/LogoSample_ByTailorBrands (2).jpg" alt="Trading" title="Trading">
                        </a>
                        <h1 style="display: none;">
                            Trading
                        </h1>
                    </div>
                    <div class="col-xs-7 col-sm-7 header-search-box">
                        <div class="search-box">
                            <form class="search form-inline">
                                <div class="form-group input-serach">
                                    <input type="text" name="search" class="search_box" id="txtsearch" onblur="if(this.value=='')this.value='Nhập từ khóa tìm kiếm...'"
                                           onfocus="if(this.value=='Nhập từ khóa tìm kiếm...')this.value=''" value="Nhập từ kh&#243;a t&#236;m kiếm..." />
                                </div>
                                <button id="btnsearch" class="pull-right btn-search">
                                    <span class="hidden-400">Tìm kiếm</span>
                                    <span class="show-400"><i class="fa fa-search" aria-hidden="true"></i></span>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="col-xs-5 col-sm-2 group-button-header new-login">
                        @if (Session["ID"] == null)
                        {
                            <a title="Đăng nhập" href="../Account/Login" class="btn-heart"></a>
                            <div class="btn-cart" id="cart-block">
                                <a title="My cart" href="../Product/Cart">Giỏ hàng</a>
                                <span class="text-show">Giỏ hàng</span>
                                <span class="notify notify-right">0</span>
                            </div>
                        }
                        else
                        {
                            <a title="Hồ Sơ" href="../Account/ViewProfile" class="btn-heart"></a>
                            <div class="btn-cart" id="cart-block">
                                <a title="My cart" href="../Product/Cart">Giỏ hàng</a>
                                <span class="text-show">Giỏ hàng</span>
                                <span class="notify notify-right">0</span>
                            </div>
                        }

                    </div>
                </div>
            </div>

            <!-- END MANIN HEADER -->
            <script type="text/javascript">
                $("#btnsearch").click(function () {
                    SearchProduct();
                });
                $("#txtsearch").keydown(function (event) {
                    if (event.keyCode == 13) {
                        SearchProduct();
                    }
                });
                function SearchProduct() {
                    var key = $('#txtsearch').val();
                    if (key == '' || key == 'Tìm kiếm...') {
                        $('#txtsearch').focus();
                        return;
                    }
                    window.location = '/tim-kiem.html?key=' + key;
                }
            </script>
            <!--Template--
            --End-->

       <div id="nav-top-menu" class="nav-top-menu">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3" id="box-vertical-megamenus">
                        <div class="box-vertical-megamenus menu-quick-select">
                            <h4 class="title click-menu">
                                <span class="title-menu">Danh mục sản phẩm</span>
                                <span class="btn-open-mobile pull-right home-page"><i class="fa fa-bars"></i></span>
                            </h4>
                            <div class="vertical-menu-content is-home">
                                <ul class="vertical-menu-list">
                                    <li class="has-child level0">
                                        <a class="dropdown-toggle has-category parent" href="/san-pham/thoi-trang-40412"><img class="icon-menu" src="~/Uploads/icon/s5.png" alt="Thời trang"> <span>Thời trang</span></a><ul class="level1 drop-menu">
                                        </ul>
                                    </li>
                                    <li class="level0"><a class="" href="/san-pham/dien-thoai-ipad-40410"><img class="icon-menu" src="~/Uploads/icon/s3.png" alt="Điện thoại &amp; Ipad"> <span>@*Điện thoại &amp; Ipad*@Phụ kiện công nghệ</span></a></li>
                                    <li class="level0"><a class="" href="/san-pham/laptop-40415"><img class="icon-menu" src="~/Uploads/icon/s8.png" alt="Laptop"> <span>Laptop</span></a></li>
                                    <li class="level0"><a class="" href="/san-pham/my-pham-40411"><img class="icon-menu" src="~/Uploads/icon/s4.png" alt="Mỹ phẩm"> <span>Mỹ phẩm</span></a></li>
                                    <li class="has-child level0">
                                        <a class="dropdown-toggle has-category parent" href="/san-pham/trang-suc-40416"><img class="icon-menu" src="~/Uploads/icon/s9.png" alt="Trang sức"> <span>Trang sức</span></a><ul class="level1 drop-menu">
                                            @*<li class="level1"><a class="" href="/san-pham/trang-suc-cuoi-40485"><span>Trang sức cưới</span></a></li>*@
                                        </ul>
                                    </li>
                                    <li class="has-child level0">
                                        <a class="dropdown-toggle has-category parent" href="/san-pham/the-thao-40397"><img class="icon-menu" src="~/Uploads/icon/s2.png" alt="Thể thao"> <span>Thể thao</span></a><ul class="level1 drop-menu">
                                        </ul>
                                    </li>
                                    <li class="level0"><a class="" href="/san-pham/me-va-be-40413"><img class="icon-menu" src="~/Uploads/icon/s6.png" alt="Mẹ và bé"> <span>Hàng tiêu dùng</span></a></li>
                                    <li class="level0"><a class="" href="/san-pham/phu-kien-cong-nghe-40414"><img class="icon-menu" src="~/Uploads/icon/s7.png" alt="Phụ kiện công nghệ"> <span>Hàng tươi sống</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="main-menu-new" class="col-sm-12 col-md-9 main-menu">
                        <nav class="navbar navbar-default">
                            <div class="container-fluid">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" @*data-toggle="collapse" data-target="#new-menu" aria-expanded="false" aria-controls="navbar"*@>
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <a class="navbar-brand" href="#">MENU</a>
                                </div>
                                <div id="new-menu" class="navbar-collapse collapse">
                                    <ul class="menu t-menu nav">
                                        <li class="level0 active"><a class="" href="../Home/Index"><span>Trang chủ</span></a></li>
                                        <li class="level0"><a class="" href="../Home/AboutUS"><span>Giới thiệu</span></a></li>
                                        <li class="level0"><a class="" href="/Product/Product"><span>Sản phẩm</span></a></li>
                                        <li class="level0"><a class="" href="/tin-tuc.html"><span>Tin tức</span></a></li>
                                        <li class="level0"><a class="" href="/lien-he.html"><span>Liên hệ</span></a></li>
                                    </ul>
                                </div><!--/.nav-collapse -->
                            </div>
                        </nav>
                    </div>
                </div>
                <!-- CART ICON ON MMENU -->
                @*<a title="My cart" data-toggle="modal" data-target="#cart">Giỏ hàng</a>*@
                <div id="shopping-cart-box-ontop" style="display: block;" title="My cart" data-toggle="modal" data-target="#cart">
                    <a @*href="/gio-hang.html"*@ data-toggle="modal" data-target="#cart"></a>
                    <span class="icon-cart-ontop"></span>
                    <span style="color:#fff!important" class="items text-muted cart-items-count">0</span>
                    <span class="text">Giỏ hàng</span>
                    <div class="shopping-cart-box-ontop-content">
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="main">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <!--left col-->
                        @if (Session["ID"] == null)
                            {
                                <div class="menu-account">
                                    <h3 style="background-color:  #f5f5f5;border-left: 3px solid #e5101d;color: #666666;">
                                        <span>Xin chào, Khách!</span>
                                    </h3>
                                    <ul>
                                        <li><a href="../Account/Login"><i class="fa fa-sign-in"></i> Đăng nhập</a></li>
                                        <li><a href="../Account/SignUp"><i class="fa fa-key"></i> Đăng ký</a></li>
                                        <li><a href="../Account/ForgetPassword"><i class="fa fa-key"></i> Quên mật khẩu</a></li>
                                    </ul>
                                </div>
                            }
                         else
                            {
                                @*var value = HttpContext.Current.Session["UserName"].ToString();
                                <span>Xin chào, @value</span>*@
                                var userName = HttpContext.Current.Session["UserName"].ToString();
                                var Email = HttpContext.Current.Session["EmailID"].ToString();
                                var RoleName = HttpContext.Current.Session["RoleName"].ToString();
                                <div class="menu-account">
                                    <h3 style="background-color:  #f5f5f5;border-left: 3px solid #e5101d;color: #666666;">
                                        <span>Xin chào, @userName</span>
                                    </h3>
                                </div>
                                <div class="text-center">
                                    <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
                                    <h6>Upload a different photo...</h6>
                                    <input type="file" class="text-center center-block file-upload">
                                </div><br>
                                <div class="panel panel-default">
                                <div class="panel-heading">Email <i class="fa fa-link fa-1x"></i></div>
                                <div class="panel-body"><a href="#">@Email</a></div>
                                </div>


                                <ul class="panel panel-default">
                                    <li class="list-group-item text-muted">Dashboard <i class="fa fa-dashboard fa-1x"></i></li>
                                    <li class="list-group-item text-right"><span class="pull-left"><strong>Lượt Xem</strong></span> 125</li>
                                    <li class="list-group-item text-right"><span class="pull-left"><strong>Số lượt Đặt hàng</strong></span> 13</li>
                                    <li class="list-group-item text-right"><span class="pull-left"><strong>Sản Phẩm</strong></span> 37</li>
                                    <li class="list-group-item text-right"><span class="pull-left"><strong>Role</strong></span> @RoleName</li>
                                </ul>

                            <div class="panel panel-default">
                                <div class="panel-heading">Social Media</div>
                                <div class="panel-body">
                                    <i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i> <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i> <i class="fa fa-google-plus fa-2x"></i>
                                </div>
                            </div>
                            }


                    </div><!--/col-3-->
                    @RenderBody()
                </div>
            </div>
        </div>


        <!---------Footer -->
        <div class="footer">
            <footer id="footer">
                <div class="container">
                    <!-- introduce-box -->
                    <div id="introduce-box" class="row">
                        <div class="col-md-3">
                            <div id="address-box">
                                <a href="/"><img src="~/Uploads/LogoSample_ByTailorBrands (2).jpg" alt="logo"></a>
                                <div id="address-list">
                                    <div class="tit-name">Địa chỉ:</div>
                                    <div class="tit-contain">1234/3443 đỗ dân lập</div>
                                    <div class="tit-name">Điện thoại:</div>
                                    <div class="tit-contain">0185585935</div>
                                    <div class="tit-name">Email:</div>
                                    <div class="tit-contain">thienvq97@gmail.com</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="introduce-title">Về chúng tôi</div>
                                    <ul class="introduce-list">
                                        <li class="item">
                                            <a href="/gioi-thieu.html">
                                                Giới thiệu
                                            </a>
                                        </li>
                                        <li class="item">
                                            <a href="/content/giao-hang-doi-tra.html">
                                                Giao hàng - Đổi trả
                                            </a>
                                        </li>
                                        <li class="item">
                                            <a href="/content/chinh-sach-bao-mat.html">
                                                Chính sách bảo mật
                                            </a>
                                        </li>
                                        <li class="item">
                                            <a href="/lien-he.html">
                                                Liên hệ
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <div class="introduce-title">Trợ giúp</div>
                                    <ul class="introduce-list">
                                        <li class="item">
                                            <a href="/content/huong-dan-mua-hang.html">
                                                Hướng dẫn mua hàng
                                            </a>
                                        </li>
                                        <li class="item">
                                            <a href="/content/huong-dan-thanh-toan.html">
                                                Hướng dẫn thanh toán
                                            </a>
                                        </li>
                                        <li class="item">
                                            <a href="/content/tai-khoan-giao-dich.html">
                                                Tài khoản giao dịch
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div id="contact-box" class="ng-scope">
                                <div class="introduce-title">Liên kết</div>
                                <div class="social-link">
                                    <a><i class="fa fa-facebook"></i></a>
                                    <a><i class="fa fa-youtube"></i></a>
                                    <a><i class="fa fa-twitter"></i></a>
                                    <a><i class="fa fa-google-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <a href="#" class="scroll_top" title="Scroll to Top" style="display: inline;">Scroll</a>
</body>
</html>
<script type="text/javascript">
    $(".vertical-menu-content").addClass("no-home");
    //$(document).ready(function () {
    //    //$(".menu-quick-select ul").hide();
    //    //$(".menu-quick-select").hover(function () { $(".menu-quick-select ul").show(); }, function () { $(".menu-quick-select ul").hide(); });
    //});

    $(document).ready(function () {
        var str = location.href.toLowerCase();
        $("ul.menu li a").each(function () {
            if (str.indexOf(this.href.toLowerCase()) >= 0) {
                $("ul.menu li").removeClass("active");
                $(this).parent().addClass("active");
            }
        });
    });
    $(document).ready(function () {
        $('.menu-product li.child .open-close').on('click', function () {
            $(this).removeAttr('href');
            var element = $(this).parent('li');
            if (element.hasClass('open')) {
                element.removeClass('open');
                element.children('ul').slideUp();
            }
            else {
                element.addClass('open');
                element.children('ul').slideDown();
            }
        });
    });
</script>
