@model SEP_Demo.Models.User
@{
    ViewBag.Title = "SignIn";
    Layout = "~/Views/Shared/_DetailLayout.cshtml";
}


<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="menu-account">
                    <h3>
                        <span>
                            Tài khoản Sign Up
                        </span>
                    </h3>
                    <ul>
                        <li><a href="../Account/Login"><i class="fa fa-sign-in"></i> Đăng nhập</a></li>
                        <li><a href="../Account/SignUp"><i class="fa fa-key"></i> Đăng ký</a></li>
                        <li><a href="../Account/ForgetPassword"><i class="fa fa-key"></i> Quên mật khẩu</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">

                <div class="breadcrumb clearfix">
                    <ul>
                        <li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="" class="home">
                            <a title="Đến trang chủ" href="/" itemprop="url"><span itemprop="title">Trang chủ</span></a>
                        </li>
                        <li class="icon-li"><strong>Đổi mật khẩu</strong> </li>
                    </ul>
                </div>
                <script type="text/javascript">
                    $(".link-site-more").hover(function () { $(this).find(".s-c-n").show(); }, function () { $(this).find(".s-c-n").hide(); });
                </script>
                <div class="login-content clearfix">
                    <h2>Đổi mật khẩu</h2>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                           
                            <hr />
                            <div class="form-horizontal">
                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.Id)

                                <div class="form-group">
                                    @Html.LabelFor(model => model.EmailID, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="control-label col-md-1">
                                        @Html.ValueFor(model => model.EmailID)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2">Mật khẩu hiện tại</label>
                                    <div class="col-md-10">
                                        <input type="password" class="form-control text-box single-line" name="currentpassword" />
                                        @Html.ValidationMessage("passworderror")
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">Mật khẩu mới</label>
                                    <div class="col-md-10">
                                        <input type="password" class="form-control text-box single-line" name="newpassword" required />

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">Xác nhận lại mật khẩu</label>
                                    <div class="col-md-10">
                                        <input type="password" class="form-control text-box single-line" name="confirmnewpassword" />
                                        @Html.ValidationMessage("confirmerror")
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Save" class="btn btn-default" style="width:100px" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                    <div>
                        @Html.ActionLink("Sign Up Now", "Registration", "Account")
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
