@model SEP_Demo.Models.UserLogin
@{
    ViewBag.Title = "Log In";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="col-md-9">

        <div class="breadcrumb clearfix">
            <ul>
                <li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="" class="home">
                    <a title="Đến trang chủ" href="/" itemprop="url"><span itemprop="title">Trang chủ</span></a>
                </li>
                <li class="icon-li"><strong>Đăng nhập</strong> </li>
            </ul>
        </div>
        <script type="text/javascript">
            $(".link-site-more").hover(function () { $(this).find(".s-c-n").show(); }, function () { $(this).find(".s-c-n").hide(); });
        </script>
        <div class="login-content clearfix">
            <h1 class="page-heading"><span>Đăng nhập hệ thống</span></h1>
            @*<div class="col-md-6 col-md-offset-3 col-xs-12 col-sm-12 col-xs-offset-0 col-sm-offset-0">*@
            <div class="col-md-8 col-md-offset-2 col-xs-12 col-sm-12 col-xs-offset-0 col-sm-offset-0">
                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.EmailID, htmlAttributes: new { @class = "control-label col-sm-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.EmailID, new { htmlAttributes = new { @class = "form-control col-sm-8" } })
                            @Html.ValidationMessageFor(model => model.EmailID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-sm-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control col-sm-8" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.RememberMe, htmlAttributes: new { @class = "control-label col-sm-4" })
                        <div class="col-md-8">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.RememberMe, new { htmlAttributes = new { @class = "form-control col-sm-8" } })
                                @Html.ValidationMessageFor(model => model.RememberMe, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            @*<button type="submit" class="btn btn-primary" value="Create">Đăng nhập</button>*@
                            <input type="submit" value="Đăng nhập" class="btn btn-primary" />
                            <a href="../Account/ForgetPassword">Quên mật khẩu?</a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                @Html.ActionLink("Sign Up Now", "SignUp", "Account")
            </div>

        </div>
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-danger">
                <strong>Error!</strong>@ViewBag.Message
            </div>
        }
    </div>
}

