@model SEP_Demo.Models.Product
@using SEP_Demo.Models;
@{
    VLUTradingDBEntities db = new VLUTradingDBEntities();
    var sess = (int)Session["ID"];
    //var product = db.Products.Where(p => p.UserID == sess);
    var product = db.Prices.Where(x => x.Product.UserID == sess && x.Status == true);
    //var price = db.Prices.Where(p => p.Status == true);
    var productCate = db.ProductCategories.ToList();    
    //
    ViewBag.Title = "ViewProfile";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">*@

<link href="~/Content/profileDashboard.css" rel="stylesheet" />
@*<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>*@
<link href="~/Content/Product/bootstrap.min.css" rel="stylesheet" />

<link href="~/Content/Product/modalCreate.css" rel="stylesheet" />

<!--STYLE For Item per page-->
@*<link rel="stylesheet" href="https://rawgit.com/wenzhixin/bootstrap-table/master/src/bootstrap-table.css">*@
<link href="~/Content/Product/bootstrap-table.css" rel="stylesheet" />
<link href="~/Content/Product/itemPerPage.css" rel="stylesheet" />
@*<script src="//code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>*@

<script src="~/Scripts/Product/bootstrap-table.js"></script>
@*<script src="https://rawgit.com/wenzhixin/bootstrap-table/master/src/bootstrap-table.js"></script>*@

<!--End Item per page-->
<div class="col-sm-9" style="margin-top: 50px;padding-left: 50px;">
    <ul class="nav nav-tabs">

        <li class="active"><a data-toggle="tab" href="#Dashboard">Dashboard</a></li>
        <li><a data-toggle="tab" href="#hoso">Hồ Sơ</a></li>
        <li><a data-toggle="tab" href="#sanpham">Sản Phẩm</a></li>
        <li><a data-toggle="tab" href="#donmua">Đơn Mua</a></li>
    </ul>

    <div class="tab-content">

        <div class="tab-pane active" id="Dashboard">
            <hr>
            <div class="row">
                <div class="col-lg-3 col-xs-6">
                    <div class="rad-info-box rad-txt-success">
                        <i class="fa fa-building-o"></i>
                        <span class="heading">Bindding</span>
                        <span class="value"><span>4949</span></span>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <div class="rad-info-box rad-txt-primary">
                        <i class="fa fa-calendar-check-o"></i>
                        <span class="heading">Active</span>
                        <span class="value"><span>23K</span></span>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <div class="rad-info-box rad-txt-danger">
                        <i class="fa fa-edit"></i>
                        <span class="heading">Edit</span>
                        <span class="value"><span>49M</span></span>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <div class="rad-info-box">
                        <i class="fa fa-money"></i>
                        <span class="heading">Order</span>
                        <span class="value"><span>8.9K</span></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Area Chart
                                <ul class="rad-panel-action">
                                    <li><i class="fa fa-chevron-down"></i></li>
                                    <li><i class="fa fa-rotate-right"></i></li>
                                    <li><i class="fa fa-cog"></i>
                                    <li>
                                        <i class="fa fa-close"></i>
                                    </li>
                                </ul>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div id="areaChart" class="rad-chart"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Area Chart
                                <ul class="rad-panel-action">
                                    <li><i class="fa fa-chevron-down"></i></li>
                                    <li><i class="fa fa-rotate-right"></i></li>
                                    <li><i class="fa fa-cog"></i>
                                    <li>
                                        <i class="fa fa-close"></i>
                                    </li>
                                </ul>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div id="areaChart2" class="rad-chart"></div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Activity
                                <ul class="rad-panel-action">
                                    <li><i class="fa fa-chevron-down"></i></li>
                                    <li><i class="fa fa-rotate-right"></i></li>
                                    <li>
                                        <i class="fa fa-close"></i>
                                    </li>
                                </ul>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="rad-activity-body">
                                <div class="rad-list-group group">
                                    <div class="rad-list-group-item">
                                        <div class="rad-list-icon icon-shadow rad-bg-danger pull-left"><i class="fa fa-phone"></i></div>
                                        <div class="rad-list-content">
                                            <strong>Client meeting</strong>
                                            <div class="md-text">Meeting at 10:00 AM</div>
                                        </div>
                                    </div>
                                    <div class="rad-list-group-item">
                                        <div class="rad-list-icon icon-shadow rad-bg-primary pull-left"><i class="fa fa-refresh"></i></div>
                                        <div class="rad-list-content">
                                            <strong>Created ticket</strong>
                                            <div class="md-text">Ticket assigned to Dev team</div>
                                        </div>
                                    </div>
                                    <div class="rad-list-group-item">
                                        <div class="rad-list-icon icon-shadow rad-bg-success pull-left"><i class="fa fa-check"></i></div>
                                        <div class="rad-list-content">
                                            <strong>Activity completed</strong>
                                            <div class="md-text">Completed the dashboard html demo</div>
                                        </div>
                                    </div>
                                    <div class="rad-list-group-item">
                                        <div class="rad-list-icon icon-shadow rad-bg-violet pull-left"><i class="fa fa-envelope"></i></div>
                                        <div class="rad-list-content">
                                            <strong>New Invitation</strong>
                                            <div class="md-text">Max has invited you to join Inbox</div>
                                        </div>
                                    </div>
                                    <div class="rad-list-group-item">
                                        <div class="rad-list-icon icon-shadow rad-bg-success pull-left"><i class="fa fa-pencil"></i></div>
                                        <div class="rad-list-content">
                                            <strong>New post</strong>
                                            <div class="md-text">Created new post</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-8 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Donut Chart
                                <ul class="rad-panel-action">
                                    <li><i class="fa fa-chevron-down"></i></li>
                                    <li><i class="fa fa-rotate-right"></i></li>
                                    <li><i class="fa fa-cog"></i>
                                    <li>
                                        <i class="fa fa-close"></i>
                                    </li>
                                </ul>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div id="donutChart" class="rad-chart"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Line Chart
                                <ul class="rad-panel-action">
                                    <li><i class="fa fa-chevron-down"></i></li>
                                    <li><i class="fa fa-rotate-right"></i></li>
                                    <li><i class="fa fa-cog"></i>
                                    <li>
                                        <i class="fa fa-close"></i>
                                    </li>
                                </ul>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div id="lineChart" class="rad-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Bar Chart
                                <ul class="rad-panel-action">
                                    <li><i class="fa fa-chevron-down"></i></li>
                                    <li><i class="fa fa-rotate-right"></i></li>
                                    <li><i class="fa fa-cog"></i>
                                    <li>
                                        <i class="fa fa-close"></i>
                                    </li>
                                </ul>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div id="barChart3" class="rad-chart"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Bar Chart
                                <ul class="rad-panel-action">
                                    <li><i class="fa fa-chevron-down"></i></li>
                                    <li><i class="fa fa-rotate-right"></i></li>
                                    <li><i class="fa fa-cog"></i>
                                    <li>
                                        <i class="fa fa-close"></i>
                                    </li>
                                </ul>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div id="barChart2" class="rad-chart"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Bar Chart
                                <ul class="rad-panel-action">
                                    <li><i class="fa fa-chevron-down"></i></li>
                                    <li><i class="fa fa-rotate-right"></i></li>
                                    <li><i class="fa fa-cog"></i>
                                    <li>
                                        <i class="fa fa-close"></i>
                                    </li>
                                </ul>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div id="barChart" class="rad-chart"></div>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

        </div><!--/tab-pane-->
        <div class="tab-pane " id="hoso">
            <hr>
            <form class="form" action="##" method="post" id="registrationForm">
                <div class="form-group">

                    <div class="col-xs-6">
                        <label for="first_name"><h4>First name</h4></label>
                        <input type="text" class="form-control" name="first_name" id="first_name" placeholder="first name" title="enter your first name if any.">
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-xs-6">
                        <label for="last_name"><h4>Last name</h4></label>
                        <input type="text" class="form-control" name="last_name" id="last_name" placeholder="last name" title="enter your last name if any.">
                    </div>
                </div>

                <div class="form-group">

                    <div class="col-xs-6">
                        <label for="phone"><h4>Phone</h4></label>
                        <input type="text" class="form-control" name="phone" id="phone" placeholder="enter phone" title="enter your phone number if any.">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-6">
                        <label for="mobile"><h4>Mobile</h4></label>
                        <input type="text" class="form-control" name="mobile" id="mobile" placeholder="enter mobile number" title="enter your mobile number if any.">
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-xs-6">
                        <label for="email"><h4>Email</h4></label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="you@email.com" title="enter your email.">
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-xs-6">
                        <label for="email"><h4>Location</h4></label>
                        <input type="email" class="form-control" id="location" placeholder="somewhere" title="enter a location">
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-xs-6">
                        <label for="password"><h4>Password</h4></label>
                        <input type="password" class="form-control" name="password" id="password" placeholder="password" title="enter your password.">
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-xs-6">
                        <label for="password2"><h4>Verify</h4></label>
                        <input type="password" class="form-control" name="password2" id="password2" placeholder="password2" title="enter your password2.">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <br>
                        <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                        <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                    </div>
                </div>
            </form>

            <hr>

        </div><!--/tab-pane-->
        <div class="tab-pane" id="sanpham">

            <!--Thuan's Code- Create New Product----------------------------------------->
            <button type="button" onclick="Create()" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModalCreate">Tạo Sản Phẩm</button>


            <div class="modal fade" id="myModalCreate" role="dialog">
                <div class="modal-dialog" style="width:700px">


                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Thông tin sản phẩm mới</h4>
                        </div>
                        <div class="modal-body" id="myModalBodyNote">

                        </div>
                    </div>
                </div>
            </div>
            <!--Thuan - Dialog for Details Product with Product ID-->
            <div class="modal fade" id="myModalDetail" role="dialog">
                <div class="modal-dialog" style="width:auto; height:auto">


                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Chi tiết sản phẩm</h4>
                        </div>
                        <div class="modal-body" id="myModalBodyDetail">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Thuan - Dialog for Edit Product with Product ID-->
            <div class="modal fade" id="myModalEdit" role="dialog">
                <div class="modal-dialog" style="width:auto; height:auto">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Cập nhật sản phẩm</h4>
                        </div>
                        <div class="modal-body" id="myModalBodyEdit">
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="modal fade" id="myModal" tabindex="-1">
            <div class="modal-dialog" style="position:initial">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Thông tin sản phẩm mới</h4>
                    </div>
                    <div class="modal-body" id="myModalBodyNote">

                    </div>
                </div>
            </div>
        </div>*@
            <!------End Thuan's Code----------------------------------------------------->
            <hr>

            <!--Item Per Page-->
            <!--End Item per Page-->
            <!--FIXME-->
            <table id="table1" data-toggle="table" data-query-params="queryParams" data-pagination="true" data-search="true" data-page-list="[5, 10, 20]" data-page-size="5" data-height="300">
                <thead>
                    <tr>
                        <th>
                            Tiêu đề
                        </th>
                        <th>
                            Giá (VND)
                        </th>
                        <th>
                            S.Lượng
                        </th>
                        <th>
                            Avatar
                        </th>
                        <th>
                            Trạng thái
                        </th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in product)
            {

                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Quantity)
                    </td>
                    <td>
                        <img src="..@item.Product.Picture01" width="100" height="100">
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.ProductStatu.Status)
                    </td>
                    <td>
                        @*@Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Detail", new { htmlAttributes = new { @onclick = "Detail()"} } , new { id = item.Product.ID}) |*@
                        <button type="button" onclick="Detail(@item.ProductID)" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModalDetail">Details</button> |
                        <button type="button" onclick="Edit(@item.ProductID)" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModalEdit">Edit</button> |
                        <button type="button" onclick="Delete(@item.ProductID)" class="btn btn-info btn-lg">Delete</button>
                    </td>
                </tr>
    }
                </tbody>
            </table>



            <!--END FIXME-->

        </div><!--/tab-pane-->
        <div class="tab-pane" id="donmua">


            <hr>
            <form class="form" action="##" method="post" id="registrationForm">
                <div class="form-group">

                    <div class="col-xs-6">
                        <label for="first_name"><h4>First name</h4></label>
                        <input type="text" class="form-control" name="first_name" id="first_name" placeholder="first name" title="enter your first name if any.">
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-xs-6">
                        <label for="last_name"><h4>Last name</h4></label>
                        <input type="text" class="form-control" name="last_name" id="last_name" placeholder="last name" title="enter your last name if any.">
                    </div>
                </div>

                <div class="form-group">

                    <div class="col-xs-6">
                        <label for="phone"><h4>Phone</h4></label>
                        <input type="text" class="form-control" name="phone" id="phone" placeholder="enter phone" title="enter your phone number if any.">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-6">
                        <label for="mobile"><h4>Mobile</h4></label>
                        <input type="text" class="form-control" name="mobile" id="mobile" placeholder="enter mobile number" title="enter your mobile number if any.">
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-xs-6">
                        <label for="email"><h4>Email</h4></label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="you@email.com" title="enter your email.">
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-xs-6">
                        <label for="email"><h4>Location</h4></label>
                        <input type="email" class="form-control" id="location" placeholder="somewhere" title="enter a location">
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-xs-6">
                        <label for="password"><h4>Password</h4></label>
                        <input type="password" class="form-control" name="password" id="password" placeholder="password" title="enter your password.">
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-xs-6">
                        <label for="password2"><h4>Verify</h4></label>
                        <input type="password" class="form-control" name="password2" id="password2" placeholder="password2" title="enter your password2.">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <br>
                        <button class="btn btn-lg btn-success pull-right" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                        <!--<button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>-->
                    </div>
                </div>
            </form>
        </div>

    </div><!--/tab-pane-->
</div><!--/tab-content-->
<!--Scripts for Create Product Dialog-->
<script>
    function Create() {
        var url = "/Product/Create";
        $("#myModalBodyNote").load(url, function () {
            $("#myModalCreate").modal("show");
        })
    }
</script>
<!--END Scripts for Create Product Dialog-->
<!--------------------------------------------->
<!--Scripts for Detail Product Dialog-->
<script>
    function Detail(id) {
        var url = "/Product/Detail/" + id;
        $("#myModalBodyDetail").load(url, function () {
            $("#myModalDetail").modal("show");
        })
    }
    function Delete(id) {
        
        var result = confirm("Are you want to delete this product?");
        if (result) {
            var url = "/Product/Delete/" + id;
            document.location = url;
        }
    }
    function Edit(id) {
        var url = "/Product/Edit/" + id;
        $("#myModalBodyEdit").load(url, function () {
            $("#myModalEdit").modal("show");
        })
    }
</script>
<!--END Scripts for Detail Product Dialog-->
<!--------------------------------------------->
<!--Script for Confirm Delete Product-->

<!-------------------------------->
<script src="https://static.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js"></script>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js'></script>
<script src='https://code.jquery.com/ui/1.11.4/jquery-ui.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.3/jquery.slimscroll.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.8.0/lodash.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jvectormap/2.0.3/jquery-jvectormap.js'></script>
<script src="https://jvectormap.com/js/jquery-jvectormap-1.2.2.min.js"></script>




<script>
    function setModalMaxHeight(element) {
        this.$element = $(element);
        this.$content = this.$element.find('.modal-content');
        var borderWidth = this.$content.outerHeight() - this.$content.innerHeight();
        var dialogMargin = $(window).width() < 768 ? 20 : 60;
        var contentHeight = $(window).height() - (dialogMargin + borderWidth);
        var headerHeight = this.$element.find('.modal-header').outerHeight() || 0;
        var footerHeight = this.$element.find('.modal-footer').outerHeight() || 0;
        var maxHeight = contentHeight - (headerHeight + footerHeight);

        this.$content.css({
            'overflow': 'hidden'
        });

        this.$element
            .find('.modal-body').css({
                'max-height': maxHeight,
                'overflow-y': 'auto'
            });
    }

    $('.modal').on('show.bs.modal', function () {
        $(this).show();
        setModalMaxHeight(this);
    });

    $(window).resize(function () {
        if ($('.modal.in').length != 0) {
            setModalMaxHeight($('.modal.in'));
        }
    });
</script>

<!--Script for item per page-->
@*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>*@
<script src="~/Scripts/Product/bootstrap3.min.js"></script>
<script>
    function queryParams() {
        return {
            type: 'owner',
            sort: 'updated',
            direction: 'desc',
            per_page: 100,
            page: 1
        };
    }
</script>
<!--End script for item per page-->