@model IEnumerable<SEP_Demo.Models.Product>
@using SEP_Demo.Models
@{
    VLUTradingDBEntities db = new VLUTradingDBEntities();
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var product = db.Products;
    //var price = db.Prices.Where(t => t.Status == true);
}


<link href="~/Content/Product/bootstrap.min.css" rel="stylesheet" />

<link href="~/Content/Product/modalCreate.css" rel="stylesheet" />

<!--STYLE For Item per page-->
@*<link rel="stylesheet" href="https://rawgit.com/wenzhixin/bootstrap-table/master/src/bootstrap-table.css">*@
<link href="~/Content/Product/bootstrap-table.css" rel="stylesheet" />
<link href="~/Content/Product/itemPerPage.css" rel="stylesheet" />
@*<script src="//code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>*@
<script src="~/Scripts/Product/bootstrap-table.js"></script>
@*<script src="https://rawgit.com/wenzhixin/bootstrap-table/master/src/bootstrap-table.js"></script>*@
<!--End Item per page-->
<br />
<br />

<div class="container">
    <div class="row">


        <div class="col-md-11">
            <h4>Bootstrap Snipp for Datatable</h4>
            @*<div class="modal fade" id="myModalDetail" role="dialog">
                <div class="modal-dialog" style="width:auto; height:auto">


                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Chi tiết sản phẩm</h4>
                        </div>
                        <div class="modal-body" id="myModalBodyDetail">
                        </div>
                    </div>
                </div>
            </div>*@
            <div class="table-responsive">

                <table id="mytable" class="table table-bordred table-striped">

                    <thead>

                    <th><input type="checkbox" id="checkall" /></th>
                    <th>Product Name</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Date Create</th>
                    <th>Detail</th>
                    <th>Active</th>
                    </thead>
                    <tbody>

                        @foreach (var item in product)
                        {
                            <tr>
                                <td><input type="checkbox" class="checkthis" /></td>
                                <td>@item.Name</td>
                                <td>@item.Description</td>
                                <td>@item.ProductStatu.Status</td>
                                <td>@item.DateCreate</td>
                                <td><p data-placement="top" data-toggle="tooltip" title="Detail"><button class="btn btn-primary btn-xs" onclick="Detail(@item.ID)" data-title="Detail" data-toggle="modal" data-target="#myModalDetail"><span class="glyphicon glyphicon-pencil"></span></button></p></td>
                                <td><p data-placement="top" data-toggle="tooltip" title="Active"><button class="btn btn-danger btn-xs" onclick="Edit(@item.ID)" data-title="Active" data-toggle="modal" data-target="#active"><span class="glyphicon glyphicon-trash"></span></button></p></td>
                            </tr>
                        }
                    </tbody>

                </table>
                <div class="clearfix"></div>
                <ul class="pagination pull-right">
                    <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
                </ul>

            </div>

        </div>
    </div>
</div>


    <div class="modal fade" id="myModalDetail" role="dialog">
        <div class="modal-dialog" >
            <div class="modal-content" style="height:600px;width:800px">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Chi tiết sản phẩm</h4>
                </div>
                <div class="modal-body" id="myModalBodyDetail">
                </div>
            </div>
            <!--- /.model content-->
        </div>
        <!-- /.modal-dialog -->
    </div>



    <div class="modal fade" id="active" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
                </div>
                    <div class="modal-body" id="myModalBodyEdit">

                       
                    </div>
                    
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <script>
        $(document).ready(function () {
            $("#mytable #checkall").click(function () {
                if ($("#mytable #checkall").is(':checked')) {
                    $("#mytable input[type=checkbox]").each(function () {
                        $(this).prop("checked", true);
                    });

                } else {
                    $("#mytable input[type=checkbox]").each(function () {
                        $(this).prop("checked", false);
                    });
                }
            });

            $("[data-toggle=tooltip]").tooltip();

        });
    </script>
    <script>
        function Detail(id) {
            var url = "../Product/Detail/" + id;
            $("#myModalBodyDetail").load(url, function () {
                $("#myModalDetail").modal("show");
            })
        }
        function Edit(id) {
            var url = "../Admins/EditStatus/" + id;
            $("#myModalBodyEdit").load(url, function () {
                $("#active").modal("show");
            })
        }
    </script>
    <script src="~/Scripts/Product/bootstrap3.min.js"></script>
