@model IEnumerable<object>
@using SEP_Demo.Models;
@{
    VLUTradingDBEntities db = new VLUTradingDBEntities();
    Layout = "~/Views/Shared/_Layout.cshtml";

    var lstProduct = db.Product.Where(t => t.StatusID == 2);
    var lstPrice = db.Price.Where(t => t.Status == true);
    var lstUser = db.Users;
    int i = 0;
    int j = 0;

}


<section class="product-content clearfix">
    <h1 class="title clearfix"><span>Sản phẩm</span></h1>
    <nav class="navbar navbar-default product-filter">
        <ul class="display">
            <li id="grid" class="active grid"><a href="#" title="Grid"><i class="fa fa-th-large"></i></a></li>
            <li id="list" class="list"><a href="#" title="List"><i class="fa fa-th-list"></i></a></li>
        </ul>
        <div class="limit">
            <span>Sản phẩm/trang</span>
            <select id="lblimit" name="lblimit" class="nb_item" onchange="window.location.href = this.options[this.selectedIndex].value">
                <option value="?limit=10">10</option>
                <option selected="selected" value="?limit=12">12</option>
                <option value="?limit=20">20</option>
                <option value="?limit=50">50</option>
                <option value="?limit=100">100</option>
                <option value="?limit=250">250</option>
                <option value="?limit=500">500</option>
            </select>
        </div>
        <div class="sort">
            <span>Sắp xếp</span>
            <select class="selectProductSort" id="lbsort" onchange="window.location.href = this.options[this.selectedIndex].value">
                <option selected="selected" value="?sort=index&amp;order=asc">Mặc định</option>
                <option value="?sort=price&amp;order=asc">Giá tăng dần</option>
                <option value="?sort=price&amp;order=desc">Giá giảm dần</option>
                <option value="?sort=name&amp;order=asc">Tên sản phẩm: A to Z</option>
                <option value="?sort=name&amp;order=desc">Tên sản phẩm: Z to A</option>
            </select>
        </div>
    </nav>
    <div >
        <!-- content changes on each page -->

        <div class="container">
            <div class="row">
                @foreach (var item in lstProduct)
                {
                    i++;
                    var userName = lstUser.FirstOrDefault(t => t.Id == item.UserID);
                    if (i <= 4)
                    {
                        <div class="col-md-3">
                            <div class="card">
                                @foreach (var price in lstPrice)
                                {
                                    if (price.ProductID == item.ID)
                                    {
                                        <div class="card-block">
                                            <h3 class="card-title" ><a href="../Product/Detail/@item.ID">@item.Name</a></h3>
                                            <h6 class="card-subtitle text-muted">@price.Price1</h6> <img href="../Product/Detail/@item.ID" src="@item.Picture01" class="img-fluid">
                                        </div>
                                        <div class="card-block">
                                            <div class="card-text">@item.Description</div>
                                            <a href="#" class="card-link productItem btn btn-primary" data-name="@item.Name" data-s="@item.Picture01" data-usertrade="@item.UserID" data-username="@userName.FirstName @userName.LastName" data-price="@price.Price1" data-id="@item.ID">Add to Cart</a>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="row">
                @foreach (var item in lstProduct)
                {
                    j++;

                    if (j <= 8 && j > 4)
                    {
                        <div class="col-md-3">
                            <div class="card">
                                @foreach (var price in lstPrice)
                                {
                                    if (price.ProductID == item.ID)
                                    {
                                        <div class="card-block">
                                            <h3 class="card-title" ><a href="../Product/Detail/@item.ID">@item.Name</a></h3>
                                            <h6 class="card-subtitle text-muted">@price.Price1</h6> <img href="../Product/Detail/@item.ID" src="@item.Picture01" class="img-fluid">
                                        </div>
                                        <div class="card-block">
                                            <div class="card-text">@item.Description</div>
                                            <a href="#" class="card-link productItem btn btn-primary" data-name="@item.Name" data-s="@item.Picture01" data-usertrade="@item.UserID" data-price="@price.Price1" data-id="@item.ID">Add to Cart</a>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="navigation">
            <ul class="pagination">
                <li>
                    <a href="?page=1" aria-label="Previous">
                        <span aria-hidden="true">«</span>
                    </a>
                </li>
                <li class="active"><a href="?page=1">1</a></li>
                <li><a href="?page=2">2</a></li>
                <li><a href="?page=3">3</a></li>
                <li><a href="?page=4">4</a></li>
                <li><a href="?page=5">5</a></li>
                <li><a href="?page=6">6</a></li>
                <li><a href="?page=7">7</a></li>
                <li><a href="?page=8">8</a></li>
                <li>
                    <a href="?page=8" aria-label="Next">
                        <span aria-hidden="true">»</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    
</section>